/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600;700;800&family=DM+Serif+Display&display=swap');

/* Reset */

*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{

font-family:'Manrope',sans-serif;

background:#FCFBF8;

color:#222;

}

header{

position:fixed;

width:100%;

background:white;

padding:25px 8%;

border-bottom:1px solid #ececec;

}

.navbar{

display:flex;

justify-content:space-between;

align-items:center;

}

.logo{

font-family:'DM Serif Display',serif;

font-size:28px;

}

.nav-links{

display:flex;

list-style:none;

gap:30px;

}

.nav-links a{

text-decoration:none;

color:#555;

}

.hero{

height:100vh;

display:flex;

justify-content:center;

align-items:center;

text-align:center;

padding:0 20px;

}

.hero h1{

font-family:'DM Serif Display';

font-size:72px;

margin:25px 0;

line-height:80px;

}

.subtitle{

letter-spacing:3px;

font-size:14px;

color:#4F7CF7;

font-weight:700;

}

.description{

max-width:700px;

margin:auto;

font-size:20px;

color:#666;

}

.explore{

display:inline-block;

margin-top:40px;

text-decoration:none;

font-weight:bold;

color:#4F7CF7;

font-size:18px;

}
