@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Caveat:wght@700&display=swap');

*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{

font-family:'Poppins',sans-serif;

background:#F8F3EC;

color:#333;

}

.hero{

width:90%;

max-width:1300px;

margin:auto;

min-height:100vh;

display:flex;

justify-content:space-between;

align-items:center;

gap:100px;

}

.hero-left{

width:55%;

}

.hero-left h1{

font-family:'Caveat',cursive;

font-size:90px;

font-weight:700;

}

.hero-left h3{

margin-top:15px;

font-size:22px;

font-weight:500;

color:#555;

}

.line{

width:120px;

height:4px;

background:#222;

margin:35px 0;

border-radius:50px;

}

.hero-left p{

font-size:22px;

line-height:40px;

color:#555;

max-width:650px;

}

.button{

display:inline-block;

margin-top:50px;

padding:16px 38px;

background:#2F6BFF;

color:white;

text-decoration:none;

border-radius:50px;

font-weight:600;

transition:.3s;

}

.button:hover{

transform:translateY(-5px);

}

.hero-right{

display:flex;

justify-content:center;

align-items:center;

}

.profile-card{

position:relative;

width:360px;

padding:50px;

background:white;

border-radius:28px;

box-shadow:0 20px 50px rgba(0,0,0,.08);

text-align:center;

transition:.3s;

}

.profile-card:hover{

transform:translateY(-10px);

}

.tape{

position:absolute;

width:90px;

height:24px;

background:#F7D9A8;

top:-12px;

left:50%;

transform:translateX(-50%) rotate(-5deg);

border-radius:5px;

}

.circle{

width:140px;

height:140px;

background:#DCE8F8;

border-radius:50%;

display:flex;

justify-content:center;

align-items:center;

margin:auto;

font-family:'Caveat';

font-size:60px;

}

.profile-card h2{

margin:30px 0 20px;

font-size:40px;

}

.profile-card p{

margin:12px 0;

font-size:20px;

color:#555;

}

@media(max-width:900px){

.hero{

flex-direction:column;

text-align:center;

padding:80px 0;

}

.hero-left{

width:100%;

}

.hero-left h1{

font-size:65px;

}

.hero-left p{

font-size:18px;

line-height:32px;

}

}
